* {
    margin: 0;
}

.grid-wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns:  1.5fr 1.6fr 1.5fr;
    grid-template-rows: 0.3fr 5fr 5fr 1fr ;
    grid-template-areas:
    "header header header"
    "content-1 content-2 aside-top"
    "content-1 content-2 aside-bottom"
    "footer footer footer"

}

header {
    grid-area: header;
    background-color: #D9D9D9;
}


.aside-top{
    grid-area: aside-top;
    background-color: #7F7A7A;
}

.aside-bottom{
    grid-area: aside-bottom;
    background-color: #6B6161;
}

.content-1 {
    grid-area: content-1;
    background-color: #A4A4A4;
}
.content-2 {
    grid-area: content-2;
    background-color: #C1C1C1;
}





footer {
    grid-area: footer;
    background-color: #AFA9A9;
}



