*{
    margin: 0;
    padding: 0;
}

header, footer{
    height: 22vh;
    background-color: #D9D9D9;
}

main{
    height: 56vh;
    background-color: #A4A4A4;
    display: flex;
}

aside{
    height: 100%;
    width: 27vw;
    background-color: #C0BDBD;
}

section{
    width: 46vw;
    background-color: #A4A4A4;
}