*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}
section h3 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 25px;
}

section p {
    font-size: 1.1rem;
    line-height: 1.6;
}


#section-one{
    background-color: pink;
    color: black;
}
#section-two{
    background-color: #000000;
    color: white;
}

