
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Kablammo&display=swap');

p{
    font-family: Avenir;
}
.comforter-regular {
    font-family: "Comforter", cursive;
    font-weight: 400;
    font-style: normal;
}
.kablammo{
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "MORF" 0;
}
