*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #d9d9d9;
    height: 5vh;
}

footer{
    background-color: #d9d9d9;
    height: 10vh;
}

main{
    width: 100%;
    height: 85vh;
    display: flex;
}

.main-section{
    width: 59vw;
    display: flex;
}

.main-section-left{
    background-color: #a4a4a4;
    width: 48%;
}
.main-section-right{
    background-color: #c1c1c1;
    width: 52%;
}

.sidebar{
    width: 40vw;
}

.right-top{
    background-color: #7f7a7a;
    height: 50%;
}
.right-bottom{
    background-color: #615050;
    height: 50%;
}