*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}
section h1, section h2, section h3{
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 25px; 
}

section p {
    font-size: 1.1rem;
    line-height: 1.6;
}

section a {
    text-decoration: none;
    font-size: 50px;
    font-family: "Arial Black", serif;
    color: black;
}

#section-one{
    background-color: #8a4a57;
}
#section-two{
    background-color: #506d9f;
}
#section-three{
    background-color: #5d8f59;
}
